<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel | Monitoramento de Filtros</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <h1 class="header-title">Sistema de Supervisão de Ativos</h1>

    <div style="text-align: right; max-width: 1400px; margin: -20px auto 20px auto;">
    <button class="btn-danger" onclick="fazerLogout()">Sair do Sistema 🔒</button>
</div>
    
    <div class="dashboard-grid">
        <div class="card-industrial">
            <h2>➕ Cadastro de Novo Ativo</h2>
            <div class="form-group">
                <input type="number" id="cadId" placeholder="ID do Ativo (Ex: 611505)">
                <div class="form-row">
                    <input type="number" id="cadMangas" placeholder="Qtd. Mangas">
                    <input type="text" id="cadMaterial" placeholder="Material (Poliéster)">
                </div>
                <button onclick="cadastrarFiltro()">Salvar Ativo no Sistema</button>
            </div>
        </div>

        <div class="card-industrial">
            <h2>📝 Lançamento de Inspeção de Campo</h2>
            <div class="form-group">
                <div class="form-row">
                    <input type="number" id="updId" placeholder="ID do Filtro (Ex: 611505)">
                    <input type="date" id="updData" title="Data da Manutenção">
                </div>
                <input type="number" step="0.1" id="updDeltap" placeholder="Pressão Delta P (mmH2O)">
                <textarea id="updObservacoes" class="relatorio-input" placeholder="Relatório de avarias (Ex: Manga furada, gaiola torta...)"></textarea>
                <button class="btn-warning" onclick="atualizarDados()">Registrar Inspeção</button>
            </div>
        </div>

        <div class="card-industrial">
            <h2>🔍 Diagnóstico em Tempo Real</h2>
            <div class="form-group">
                <div class="form-row">
                    <input type="number" id="idFiltro" placeholder="Digite o ID para consultar">
                    <button onclick="chamarPython()">Analisar</button>
                </div>
            </div>
            <div id="resultado">
                <p style="color: var(--text-muted); text-align: center;">Insira um ID e clique em analisar para buscar os dados telemétricos.</p>
            </div>
        </div>

        <div class="card-industrial card-full-width">
            <h2>📋 Inventário Geral da Planta</h2>
            <div id="tabelaInventario" class="tabela-container">
                <p style="text-align: center; color: var(--text-muted);">Sincronizando com o banco de dados...</p>
            </div>
        </div>
    </div>

   <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>